# Dependencies
fieldflow/node_modules/

# Build assets
fieldflow/public/build/
fieldflow/public/hot
fieldflow/public/storage

# Laravel
fieldflow/storage/*.key
fieldflow/vendor/
fieldflow/.env
fieldflow/.env.backup
fieldflow/.env.production
fieldflow/.phpunit.result.cache

# IDE
/.fleet
/.idea
/.vscode

# OS
.DS_Store
Thumbs.db
